/Firmware/busPirate.X/build/default/
/Firmware/busPirate.X/dist/
/Firmware/busPirate.X/nbproject/Makefile*
/Firmware/busPirate5X.X/build/default/
/Firmware/busPirate5X.X/dist/
/Firmware/busPirate5X.X/nbproject/Makefile*
/Firmware/busPirate4X.X/build/default/
/Firmware/busPirate4X.X/dist/
/Firmware/busPirate4X.X/nbproject/Makefile*
/Firmware/busPirate3X.X/build/default/
/Firmware/busPirate3X.X/dist/
/Firmware/busPirate3X.X/nbproject/Makefile*
/Firmware/work/*
/Firmware/output/*