<?xml version="1.0" encoding="utf-8"?>
<ds30LoaderSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Debugmode>false</Debugmode>
  <CheckVerStart>false</CheckVerStart>
  <WindowOnTop>false</WindowOnTop>
  <WindowWidth>346</WindowWidth>
  <WindowHeight>538</WindowHeight>
  <Filename>E:\Work\dp\Bus_Pirate\package\v3-firmware\BPv3-frimware-v6.hex</Filename>
  <DefaultStartSettings>
    <AdvancedMode>true</AdvancedMode>
    <AdvancedModeAllow>false</AdvancedModeAllow>
    <FilenameAllow>true</FilenameAllow>
    <Portname />
    <PortnameAllow>true</PortnameAllow>
    <Baudrate>115200</Baudrate>
    <BaudrateAllow>false</BaudrateAllow>
    <Familyname>PIC24FJ</Familyname>
    <FamilynameAllow>false</FamilynameAllow>
    <Devicename>64GA002</Devicename>
    <DevicenameAllow>false</DevicenameAllow>
    <WriteProgram>true</WriteProgram>
    <WriteProgramAllow>false</WriteProgramAllow>
    <WriteEEPROM>false</WriteEEPROM>
    <WriteEEPROMAllow>false</WriteEEPROMAllow>
    <WriteConfigs>false</WriteConfigs>
    <WriteConfigsAllow>false</WriteConfigsAllow>
    <NoGoto>false</NoGoto>
    <NoGotoAllow>false</NoGotoAllow>
    <IgnoreBLOverwrite>false</IgnoreBLOverwrite>
    <IgnoreBLOverwriteAllow>false</IgnoreBLOverwriteAllow>
    <CustomBl>true</CustomBl>
    <CustomBlAllow>false</CustomBlAllow>
    <CustomBlPlacementP>1</CustomBlPlacementP>
    <CustomBlPlacementPAllow>false</CustomBlPlacementPAllow>
    <CustomBlSizeP>1</CustomBlSizeP>
    <CustomBlSizePAllow>false</CustomBlSizePAllow>
    <Polltime>250</Polltime>
    <PolltimeAllow>true</PolltimeAllow>
    <Timeout>5000</Timeout>
    <TimeoutAllow>true</TimeoutAllow>
    <CommandReset>false</CommandReset>
    <CommandResetAllow>true</CommandResetAllow>
    <ResetCommand />
    <ResetCommandAllow>true</ResetCommandAllow>
    <ResetBaudrate>9600</ResetBaudrate>
    <ResetBaudrateAllow>true</ResetBaudrateAllow>
    <DTRReset>false</DTRReset>
    <DTRResetAllow>true</DTRResetAllow>
    <ManualReset>true</ManualReset>
    <ManualResetAllow>true</ManualResetAllow>
    <RTSReset>false</RTSReset>
    <RTSResetAllow>true</RTSResetAllow>
    <ResetTime>250</ResetTime>
    <ResetTimeAllow>true</ResetTimeAllow>
    <ActivateDTR>false</ActivateDTR>
    <ActivateDTRAllow>true</ActivateDTRAllow>
    <ActivateRTS>false</ActivateRTS>
    <ActivateRTSAllow>true</ActivateRTSAllow>
    <TermSwithTo>false</TermSwithTo>
    <TermBaudrate>115200</TermBaudrate>
    <TermRxType>0</TermRxType>
    <TermTxType>0</TermTxType>
    <TermTx />
  </DefaultStartSettings>
</ds30LoaderSettings>